# Core functionality - changes here should be rare!
/src/app.py                   @Charishma44
/src/backend/database.py      @Charishma44
/src/backend/routers/auth.py  @Charishma44

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Charishma44
